<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Admin</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Admin</ion-title>
    </ion-toolbar>
  </ion-header>
  <div style="margin: 5vh;">
    Invitacion
    <ion-input label="Nombre de familia" labelPlacement="floating" [(ngModel)]="invitacion" [counter]="true" maxlength="90"></ion-input>
    <ion-input label="Frase invitado" labelPlacement="floating" [(ngModel)]="fraseInvitacion" [counter]="true" maxlength="140"></ion-input>
    <ion-checkbox color="dark" labelPlacement="end" style="color: rgb(255, 255, 255);" [(ngModel)]="ninios">sin niños</ion-checkbox>
    <br>
    <br>
    <br>
    <br>
    <div *ngFor="let item of invitados;let i = index">
      Invitado {{i+1}}
      <ion-input label="Nombre" labelPlacement="floating" [(ngModel)]="item.nombre" [counter]="true" maxlength="50"></ion-input>
      <ion-input label="Nombre a mostrar" labelPlacement="floating" [counter]="true" [(ngModel)]="item.frase" maxlength="50"></ion-input>
    </div>
   <ion-label>Agregar Invitado</ion-label> <ion-fab-button size="small" (click)="agregaInvitado()"></ion-fab-button>
  </div>
<ion-button (click)="guardar()">guardar</ion-button>
</ion-content>
